*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  scroll-behavior: smooth;
}
body {
  max-width: 100dvw;
  margin: 0 auto;
  padding: 0.5rem;
  overflow-x: hidden;

  background-image: radial-gradient(
    ellipse 80% 80% at 50% -20%,
    #7877c64d,
    #fff0
  );
  background-color: rgb(4, 12, 36);

  color: #f7f7f7;
}
body > * {
  transition: all 1s ease;
}

.title {
  font-size: calc(31.25px + 0.5dvw);
}
.p {
  font-size: calc(20px + 0.1dvw);
  opacity: 0.9;

  padding-left: 0.5rem;

  max-width: 800px;
}
.icon {
  padding-right: 0.5rem;
}
.highlight-text {
  color: rgb(243, 214, 99);
  font-weight: 600;
}
.linkedin:hover {
  color: #0a66c2;
}

/* HEADER STYLES */
.header {
  max-width: 140rem;
}
#welcome-section {
  width: 100%;

  height: 100dvh;

  margin: auto;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  .title {
    font-size: calc(61.04px + 1dvw);

    line-height: 1;

    margin-bottom: 3rem;
  }

  #navbar + .p {
    margin-top: 5rem;
  }
  .container-contact {
    margin-top: 0.5rem;
    padding: 1rem 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;

    .anchor {
      font-size: calc(18px + 0.1dvw);
      font-weight: 500;

      text-decoration: none;
      color: inherit;

      transition: all 0.2s ease;

      .icon {
        padding-right: 0;
        font-size: 3.6rem;
        transition: all 0.2s ease;
      }
    }
    .anchor:first-of-type {
      padding: 0.8rem 1.5rem;

      background: rgba(255, 255, 255, 0.1);
      border: 1px solid rgb(255, 255, 255);
      border-radius: 20px;
      .icon {
        font-size: calc(18px + 0.1dvw);
      }
    }
    .anchor:first-of-type:hover {
      background: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(6px);
    }
  }
}

#navbar {
  width: 100%;
  max-width: 1400px;

  display: flex;
  justify-content: end;

  position: fixed;
  top: 0;
  z-index: 9999;

  padding: 1rem 3rem;

  .nav-menu {
    padding: 1rem;

    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(6px);

    display: flex;
    flex-direction: row;
    gap: 1.5rem;

    list-style: none;

    border-radius: 6px;

    .anchor {
      font-size: calc(12px + 0.2dvw);
      font-weight: 500;

      text-decoration: none;
      color: inherit;

      transition: all 0.1s ease;
    }
    .anchor:hover {
      color: rgb(243, 214, 99);
    }
  }
}

/* SECTIONS STYLES */
.section {
  margin: 0 auto;
  max-width: 140rem;
  width: 100%;

  padding: 0.5rem;

  .title {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-left: 0.5rem;

    .icon {
      font-size: 36px;
      padding-top: 0.5rem;
      padding-right: 1rem;
    }
  }
}
#projects {
  padding: 5rem 0.5rem;

  .grid {
    width: 100%;
    padding: 2rem 0.5rem;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 520px));
    justify-content: center;
    gap: 5rem;
    .grid-card {
      .title {
        font-size: calc(19.2px + 0.5dvw);
        font-weight: 500;
      }
      .container-image {
        height: 300px;

        background: black;

        border-radius: 4px;
        border: 1px solid #f7f7f741;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        transition: all 0.3s ease;

        .image {
          object-fit: cover;
          object-position: top left;

          width: 100%;
          height: 100%;
          border-radius: 4px;
        }
        .image:hover {
          opacity: 0.8;
        }
      }
      .container-image:hover {
        border: 1px solid #f7f7f7;
      }
      .list {
        margin-top: 1rem;
        padding: 1rem 0;

        display: flex;
        flex-direction: row;
        gap: 1.5rem;

        list-style: none;

        .anchor {
          padding: 0.8rem 1.5rem;
          text-decoration: none;
          color: inherit;

          font-size: calc(18px + 0.1dvw);
          font-weight: 500;

          background: rgba(255, 255, 255, 0.1);
          border: 1px solid rgb(255, 255, 255);
          border-radius: 20px;

          transition: all 0.2s ease;
        }
        .anchor:hover {
          background: rgba(255, 255, 255, 0.2);
          backdrop-filter: blur(6px);
        }
      }
    }
  }
}
#about-me {
  padding: 5rem 0.5rem;
  .title {
    margin-bottom: 2rem;
  }
  .flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
  }
  .p {
    max-width: 800px;

    text-wrap: pretty;

    margin-bottom: 2rem;

    .html {
      color: #ff5225;
    }
    .css {
      color: #0852e9;
    }
    .js {
      color: #f7e025;
    }
    .react {
      color: #61dbfb;
    }
  }

  .mosaico {
    position: relative;

    width: 100%;
    height: 70dvw;
    max-width: 400px;
    max-height: 300px;

    .container-image {
      position: absolute;

      width: 55dvw;
      height: 55dvw;
      max-width: 240px;
      max-height: 240px;

      padding: 1rem 1rem 2rem;

      background: rgb(4, 12, 36);

      border-radius: 4px;
      border: 1px solid rgba(192, 188, 188, 0.418);

      transition: all 0.6s ease;

      .image {
        object-fit: cover;

        border-radius: 4px;

        width: 100%;
        height: 100%;
      }
    }
    .container-image:first-of-type {
      rotate: -10deg;
    }
    .container-image:nth-of-type(2) {
      rotate: 10deg;
      left: 10rem;
    }
    .container-image:hover {
      z-index: 999;
      border-color: #f7f7f7;
    }
  }
}
#contact {
  width: 100%;
  height: 80dvh;

  max-width: none;

  display: grid;
  place-content: center;
  justify-items: center;
  text-align: center;

  background: rgb(3, 11, 32);

  border-top: 1px solid #f7f7f7;
  border-bottom: 1px solid #f7f7f7;

  .title {
    display: block;
    font-size: calc(48.83px + 1dvw);
    font-weight: 500;
  }
  .p {
    max-width: none;

    font-size: calc(25px + 0.5dvw);
  }

  .list {
    width: 100%;
    max-width: 1000px;

    margin: 3rem 0;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;

    list-style: none;

    .anchor {
      text-decoration: none;
      color: rgb(192, 188, 188);

      font-size: calc(20px + 0.5dvw);

      transition: color 0.3s ease;
    }
    .anchor:hover {
      border-bottom: 2px solid #f7f7f7;
      color: inherit;
    }
  }
}
.footer {
  width: 100%;
  height: 10dvh;

  display: grid;
  place-content: center;
  justify-items: center;
  gap: 0.5rem;

  .small {
    color: #e4e4e7e6;
    font-size: calc(12.8px + 0.3dvw);
  }
}
@media (width <= 425px) {
  #contact {
    .list {
      flex-direction: column;
      gap: 1.5rem;
    }
  }
}
